.headerDiv{
  display: flex;
  justify-content: space-between;
  margin: 25px 15px;
  max-height: 30px;
}


.headerText{font-size: 30px;
  margin: 0px;
  font-weight: 300;}

.BOdyCOmp{
  display: flex;
  justify-content: center;
}

.SearchBar{
  justify-content: end;
  display: flex;
  /* margin-right: 53px; */
  align-items: center;
  /* margin-bottom: 15px; */

}
.PaginationDiv{
  display: flex;
  justify-content: end;
  align-items: center;

}
.count{
  background: #3d3dd5;
    color: white;
    width: 1rem;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}
.btnText{
  padding: 6px;
  background-color: white;
  border: 1px solid lightgrey;
  color: #504a4a;
}

.modalheading{text-align: center;
  font-size: 30px;
  margin-top: 0px;}
  .modal-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .modal-input{
    width: 100%;
    margin-bottom: 14px;
  }